<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page not found</title>
    <link href="/public/assets/test.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="box">
        <h1>404</h1>
        <p>Page Not Found</p>
        <p>&#58;&#40;</p>
        <p><a href="/">try again!</a></p>
      </div>
    </div>
  </body>
</html>
