<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h1> ToDo List </h1>
    <h3>LOG IN</h3>
    <form action ="/login" method = "post">
        
        <label for = "iemail">email:</label>
        <input type = "email" name = "iemail" maxlength="25"><br>

        <label for = "password">password:</label>
        <input type = "password" name = "password" maxlength="25"><br>
        <button type="submit">Submit</button>
        <a href = '/register'>Register</a>
    </form>
    
</body>
</html>